[user]
	email = thimo@th7mo.com
	name = th7mo
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	a  = add
	aa = add *
	b  = branch
	ba = branch -a
	c  = commit -m
	ca = commit -am
	cl = commit
	d  = diff HEAD
	s  = status
	p  = push
	f  = fetch
	l  = log --oneline --decorate --max-count 20
	ll = log --graph --decorate
	sw = switch
	w  = worktree
	wa = worktree add
	wl = worktree list
	wr = worktree remove
	root = rev-parse --show-toplevel
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
