@define-color base #2d353b;
@define-color crust #232a2e;
@define-color text #d3c6aa;
@define-color gray #4f585e;
@define-color red #e67e80;

* {
    font-family: Ubuntu Nerd Font;
    font-weight: bold;
    /* font-size dictates the size of the workspace dots & pillow */
    font-size: 8px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border: none;
    min-width: 0;
    min-height: 0;
}

window#waybar {
    color: @text;
    background-color: @crust;
}

#workspaces button {
    padding: 2px 8px;
    margin: 0 4px;
    border-radius: 9999px;
    background-color: @gray;
}

#workspaces button.focused {
    padding: 2px 18px;
    color: @crust;
    background-color: @text;
}

#workspaces {
    padding: 8px;
    margin: 10px 3px;
    border-radius: 18px;
    background-color: @base;
}

#clock,
#mode,
#backlight,
#wireplumber,
#bluetooth,
#network,
#battery,
#custom-power {
    padding: 5px 13px;
    margin: 10px 3px;
    font-size: 18px;
    border-radius: 18px;
    color: @text;
    background-color: @base;
}

#clock {
    margin-left: 6px;
}

#custom-power {
    margin-right: 6px;
}

#battery.low:not(.charging) {
    color: @red;
}